main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cadastro{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 50%;
    height: 70vh;
    border: var(--primary) solid 2px;
    padding: 5px;
    border-radius: 25px;
    background-color: color-mix(in srgb, var(--secondary) 25%, transparent);
    box-shadow: var(--shadow);
    padding: 0 1%;
}

form{
    max-height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0 1% 0 0;
    transform: scale(0.95);
}

input{
    border-radius: 5px;
    height: 2rem;
    width: 25vw;
    text-align: center;
    border: 1px var(--input-border) solid;
    background-color: var(--tertiary);
    color: var(--text-color);
}

.bg-img{
    padding: 0;
    margin: 0;
    height: 90%;
    width: 100%;
    background-image: url(/static/img/funcionario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: var(--img-shadow);
}

form button{
    height: 2.5rem;
    width: 25vw;
    border-radius: 5px;
    background-color: var(--primary);
    border: none;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    font-size: medium;
    font-weight: 550;
    margin-top: 2%;
}

form button:hover{
    background-color: var(--accent);
    transform: translateY(1px);
}