main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border: var(--primary) solid 2px;
    padding: 20px;
    border-radius: 15px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input{
    border-radius: 5px;
    height: 2rem;
    width: 25vw;
    text-align: center;
    border: 1px var(--input-border) solid;
    background-color: var(--tertiary);
    color: var(--text-color);
}

form button{
    height: 2.5rem;
    width: 25vw;
    border-radius: 5px;
    background-color: var(--secondary);
    border: none;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

form button:hover{
    background-color: var(--accent);
    transform: translateY(1px);
}