{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro-epi.css') }}">
{% endblock %}
{% block content %}
<main>
        <h1>Cadastro de EPI</h1>
        <div class="cadastro">
            <form id="epiForm">
                <label for="nome">Nome do EPI:</label>
                <input id="nome" name="nome_epi" type="text" placeholder="Nome do EPI" required>
                <label for="tipo">Tipo do EPI:</label>
                <input id="tipo" name="tipo_epi" type="text" placeholder="Tipo do EPI" required>
                <label for="ca">CA do EPI:</label>
                <input id="ca" name="certificado_aprovacao_epi" type="text" placeholder="CA do EPI" required>
                <label for="validade_ca">Data de Validade do CA:</label>
                <input id="validade_ca" name="validade_certificado_aprovacao" type="date" required>
                <div id="buttons">
                    <button type="submit" id="submit-btn">Cadastrar</button>
                </div>
            </form>
            <div class="bg-img"></div>
        </div>
    </main> 
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='epis.js') }}" defer></script>
{% endblock %}