{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/criar-registro.css') }}">
{% endblock %}
{% block content %}
   <main>
        <h1>Registros</h1>
        <div class="cadastro">
            <form id="registrosForm">
                <label for="matricula">Matrícula do Funcionário:</label>
                <input id="matricula" name="matricula_funcionario" type="text" placeholder="Matrícula do funcionário" required>
                <label for="ca">CA do EPI:</label>
                <input id="ca" name="ca_EPI" type="text" placeholder="CA do epi " required>
                <label for="data-devolucao">Data para Devolução do EPI:</label>
                <input id="data-devolucao" name="data_devolucao_EPI" type="date" placeholder="Data para devolução do EPI" required>
                <div id="buttons">
                    <button type="submit" id="submit-btn">Cadastrar</button>
                </div>
            </form>
            <div class="bg-img"></div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='registros.js') }}" defer></script>
{% endblock %}