{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
<main>
    <section id="login">
        <h1>Login</h1>
        <form method="POST" action="/">
            <label for="usuario">Usuário :</label>
            <input type="text" id="usuario" name="usuario" placeholder="Ex: 1234" required>
            <label for="senha"> Senha :</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            <br>
            <div id="botoes">
                <button class="btn" id="login-btn" type="submit">Login</button>
                <button class="btn" id="login-theme-btn" type="button"><i id="theme-icon" class="fas fa-moon"></i></button>
            </div>
        </form>
    </section>
</main>
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}